<html>
<head>
    <title>Create DERMS Group</title>
    <script src="/js/jquery-3.4.1.min.js"></script>

    <script>
        function hideStatus(){
            $("#status").hide()
        }
        function showStatus(){
            $("#status").show()
        }

        function uuidv4() {
             return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                 (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
             );
        }


        function assign_uuidv4(index) {
            var thisID = "group_mrid" + index;
            document.getElementById(thisID).value = uuidv4();
        }

        $(document).ready(function(){
           let status = "{{status}}";

           hideStatus()
           if (status != ""){
               showStatus()
           }

           $("#generate_mrid").click(function(){
               $("#group_mrid").val(uuidv4())
           })

           $("#generate_form").click(function(){
            var number = document.getElementById("number_of_groups").value;
            var container = document.getElementById("container");
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            container.appendChild(document.createElement("br"));
            var i;
            for (i=1;i<=number;i++){
                // add textbox for MRID
                let pmrid = document.createElement("p");
                let node = document.createTextNode("MRID of group " + i + " :");
                pmrid.appendChild(node);
                container.appendChild(pmrid);
                let inputmrid = document.createElement("input");
                inputmrid.type = "text";
                let thisID = 'group_mrid_'+i;
                inputmrid.id = thisID;
                inputmrid.name=thisID;
                inputmrid.required = true;
                inputmrid.size="32";
                container.appendChild(inputmrid);
                let button = document.createElement("button");
                button.id = "generate_mrid";
                button.type = "button";
                container.appendChild(button);
                button.onclick = function(){ document.getElementById(thisID).value = uuidv4();};
                var buttonLabel = document.createTextNode("Generate");
                button.appendChild(buttonLabel);

                // add the textbox for group name
                let pname = document.createElement("p");
                let pnode = document.createTextNode("Enter group name: ");
                pname.appendChild(pnode);
                container.appendChild(pname);
                let inputname = document.createElement("input");
                inputname.type = "text";
                let thisnameID = 'group_name_'+i;
                inputname.id = thisnameID;
                inputname.name=thisnameID;
                inputname.required = true;
                inputname.size="32";
                container.appendChild(inputname);

                // add the select box
                let pdevice = document.createElement("p");
                let devicenode = document.createTextNode("Select device(s): ");
                pdevice.appendChild(devicenode);
                container.appendChild(pdevice);
                let select_device =  document.createElement("select");
                let select_id = 'selected_devices_'+i;
                select_device.name = select_id;
                select_device.id = select_id;
                select_device.required = true;
                select_device.multiple = true;
                select_device.size = 20;
                container.appendChild(select_device);

                var option, option_text;
                {% for item in devices %}
                    option = document.createElement("option");
                    option.value = '{{item.mrid}}';
                    option_text = document.createTextNode('{{item.mrid}}' + ', ' + '{{item.name}}' + ', ' + '{{item.type}}');
                    option.appendChild(option_text);
                    select_device.appendChild(option);
                {% endfor %}

                container.appendChild(document.createElement("br"));
                container.appendChild(document.createElement("br"));
                container.appendChild(document.createElement("br"));
            }
            var submit_input = document.createElement("input");
            submit_input.type = "submit";
            submit_input.value = "Create Group(s)";
            submit_input.form = "container";
            container.appendChild(submit_input);
           })
        });
    </script>
<!--    <script>-->
<!--        $(document).ready(function(){-->
<!--            //alert("Whats up")-->
<!--            $("#create_group").click(function(){-->
<!--                alert("Woot I am here")-->
<!--            });-->
<!--        });-->
<!--        -->
<!--        function loadDoc() {-->
<!--          var xhttp = new XMLHttpRequest();-->
<!--          xhttp.onreadystatechange = function() {-->
<!--            if (this.readyState == 4 && this.status == 200) {-->
<!--              document.getElementById("demo").innerHTML = this.responseText;-->
<!--            }-->
<!--          };-->
<!--          xhttp.open("POST", "demo_post.asp", true);-->
<!--          xhttp.send();-->
<!--        }-->

<!--        $("alert").click()-->
<!--    </script>-->
</head>
<body>
<h1 id="status">{{status}}</h1>

<a href="/">Home</a>

<h2>Create new DER group(s)</h2>
<br>
Create <input type="number" id="number_of_groups" name="number_of_groups" form="container" required placeholder="number of groups to create" min="1" size="32" autofocus> group(s).
<button id="generate_form" type="button">GO</button>
<form id="container" action="/create_group" method="post">
</form>


<!--<form action="/create_group" method="post">-->
<!--    <p>MRID of the new group:</p>-->
<!--    &lt;!&ndash;<p>{{mrid}}</p>&ndash;&gt;-->
<!--    <input type="text" id="group_mrid" name="group_mrid" required value="{{group_mrid}}" size="32" /> <button id="generate_mrid" type="button">Generate</button>-->
<!--&lt;!&ndash;    <input readonly name="mrid" type="text" value="{{mrid}}" size="30">&ndash;&gt;-->
<!--    <br>&nbsp;<br>-->
<!--    Enter group name:-->
<!--    <br>-->
<!--    <input name="group_name" type="text" size="30" required value="{{group_name}}"><br>&nbsp;<br>-->
<!--&lt;!&ndash;    Characteristics: <br />&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="checkbox" name="connectDisconnect" value="{{ connectDisconnect }}" {% if connectDisconnect %} checked {% endif %} /> ConnectDisconnect <br />&ndash;&gt;-->
<!--&lt;!&ndash;    frequencyWattCurveFunction <input type="checkbox" name="frequencyWattCurveFunction" value="{{ frequencyWattCurveFunction }}" /><br />&ndash;&gt;-->
<!--&lt;!&ndash;    maxRealPowerLimiting <input type="checkbox" name="maxRealPowerLimiting" value="{{ maxRealPowerLimiting }}" /><br />&ndash;&gt;-->
<!--&lt;!&ndash;    rampRateControl <input type="checkbox" name="rampRateControl" value="{{ rampRateControl }}" /><br />&ndash;&gt;-->
<!--&lt;!&ndash;    reactivePowerDispatch <input type="checkbox" name="reactivePowerDispatch" value="{{ reactivePowerDispatch }}" /><br />&ndash;&gt;-->
<!--&lt;!&ndash;    voltageRegulation <input type="checkbox" name="voltageRegulation" value="{{ voltageRegulation }}" /><br />&ndash;&gt;-->
<!--&lt;!&ndash;    realPowerDispatch <input type="checkbox" name="realPowerDispatch" value="{{ realPowerDispatch }}" /><br />&ndash;&gt;-->
<!--&lt;!&ndash;    voltVarCurveFunction <input type="checkbox" name="connectDisconnect" value="{{ voltVarCurveFunction }}" /><br />&ndash;&gt;-->
<!--&lt;!&ndash;    voltWattCurveFunction <input type="checkbox" name="voltWattCurveFunction" value="{{ voltWattCurveFunction }}" /><br />&ndash;&gt;-->

<!--    Select device(s):-->
<!--    <br>-->
<!--    <select name="selected_devices" size="20" multiple required id="selected_devices">-->
<!--{% for dev in devices %}-->
<!--        <option value="{{dev.mrid}}">{{dev.name, dev.type, dev.mrid}}</option>-->
<!--{% endfor %}-->
<!--        </select>-->
<!--    <br>&nbsp;<br>-->
<!--    <input type="submit" value="Create Group">-->
<!--</form>-->


</body>
</html>
