<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DER Groups - List</title>
</head>
<body>
<a href="/">Home</a>&nbsp;
<a href="/create_group">Create Group</a><br />
{% if status %}
<p id="status" style="color:green">{{status}}</p>
{% endif %}
{% if not groups %}
<h1>No Groups Found</h1>
{% endif %}
{% if groups %}
<h2>Existing Groups:</h2>
{% endif %}
{% for g in groups %}
<div>
        Name: {{ g.description }}<br />
        mRID: {{ g.mRID }}<br />
        Devices:<br />
        {% for mm in g.EndDevices %}
        <div style="padding-left:30px">mRID: {{ mm.mRID }}</div>
            <!--<div style="padding-left:10px">name: {{ mm.Names }}</div>-->
        {% endfor %}
    <a href="/api/delete_group/mrid/{{g.mRID}}">Delete {{g.description}}</a>&nbsp;
<!--    <a href="/api/edit_group/mrid/{{g.mRID}}">Edit {{g.description}}</a><br />-->
    <hr width="500px" align="left">
</div>
{% endfor %}

</body>
</html>